.nav-container * {
    border: 1px dotted red;
}

.nav-container{
    border: 1px dotted black;
    display: flex;
    justify-content: space-between;
    height: 7vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

nav a {
    text-decoration: none;
}

/*header nav logo*/
.logo{
    display: flex;
    gap: .5vw;
    width: max-content;
}
.logo h3 {
    line-height: 100%;
    font-size: 100%;
    text-align: center;
}
.nav-container > .logo > img{
    width: auto;
    height: 100%;
}

/*header nav navigace*/
.navigace{
    display: flex;
    list-style: none;
    align-self: center;
    align-items: center;
    gap: 1vw;
    padding-left: 0;
    height: 100%;
}

/*header nav prihlaseni*/
.prihlaseni{
    display: flex;
    align-items: center;
    gap: .5vw;
}
@media only screen and (min-width: 320px) and (max-width: 480px){
    
}