/*.nav-container * {
    border: 1px dotted red;
}*/
:root {
    --nav-text-color: white;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 8vh;
}

/*HEADER*/
    /*Nav*/

header{
    width: 100%;
    position: fixed;
    top: 0;
}
header nav {
    background-color: #023618;
}
.nav-container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 7vh;
    max-width: 1440px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

nav a {
    text-decoration: none;
}

/*header nav logo*/
.logo{
    display: flex;
    gap: .5vw;
    width: max-content;
}
.logo h3 {
    line-height: 100%;
    font-size: 100%;
    text-align: center;
    align-self: center;
    margin: 0;
    font-size: 1.2rem;
    color: var(--nav-text-color);
}
.nav-container > .logo > img{
    width: auto;
    height: 100%;
    filter: invert(102%) sepia(10%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}

/*header nav navigace*/
.navigace{
    display: flex;
    list-style: none;
    align-self: center;
    align-items: center;
    width: max-content;
    font-size: 1.5rem;
    gap: 3vw;
    padding-left: 0;
    height: 100%;
}
.navigace a {
    color: var(--nav-text-color);
    border-radius: .5rem;
    padding: .4rem;
}
.navigace a:hover{
    background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgba(2,54,24,1) 59%);
}
.navigace a:active{
    background: linear-gradient(225deg, rgb(0, 0, 0) 0%, rgba(2,54,24,1) 59%);
}

/*header nav prihlaseni*/
.prihlaseni{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    gap: .5vw;
}
.prihlaseni a {
    color: var(--nav-text-color);
}
.prihlaseni a:hover{
    border-bottom: 1.5px solid white;
}

/*SECTION*/
#body-content{
    min-height: 86vh;
    max-width: 1440px;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 3vw;
    padding-right: 3vw;
    margin: auto;
    background-color: #e8e6e6;
    border-radius: 2rem;
}
#body-content h2{
    text-align: center;
    margin-bottom: 10px;
}

.formular{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.form-group{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    width: 50%;
}

.form-group .nazev{
    margin-bottom: 7px;
}

.form-group input{
    border: .1rem solid #ccc;
    height: 50px;
    font-size: 100%;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.form-group span{
    margin-left: 5px;
    color: red;
}

#btn-ulozit{
    align-self: center;
    width: 120px;
    height: 40px;
    border: none;
    background-color: #1a8b1d;
    color: white;
}
#btn-ulozit:hover{
    cursor: pointer;
    filter: opacity(80%);
}
#btn-ulozit:active{
    filter: grayscale(50%)
}
#cont_pojistenci{
    margin-bottom: 50px;
}
#cont_pojistenci *{
    border: 1px solid black;
    border-collapse: collapse;
}
#cont_pojistenci table{
    width: 100%;
    margin: auto;
    max-width: 700px;
    background-color: white;
}
#cont_pojistenci table tr *{
    padding: 7px;
    font-size: 100%;
    text-align: center;
}
#input-vek{
    font-size: 100%;
}


/*FOOTER*/
footer{
    margin-top: 1vh;
    width: 100%;
    min-height: 5vh;
    background-color: black;
    clip-path: polygon(0% 100%, 100% 100%, 100% 30%, 25% 0%, 0% 40%);
}

/*po zobrazení na mobilu*/
@media only screen and (min-width: 320px) and (max-width: 480px){
    /*HEADER*/
    .nav-container{
        padding-left: 1vw;
        padding-right: 1vw;
    }
    .logo h3 {
        display: none;
    }
    .navigace{
        font-size: 1rem;
    }
    .prihlaseni{
        flex-direction: column;
        font-size: .8rem;
    }
    /*SECTION*/
    #body-content{
        border-radius: 1.3rem;
    }
    .formular{
        flex-direction: column;
    }
    .form-group{
        width: 100%;
        padding-top: 1.5vh;
    }
    /*FOOTER*/
}